* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Arial, sans-serif; }

.products_theme_original {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 475px;
  min-width: 320px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.product_theme_original {
  width: 146px;
  border: 3px solid white;
  background-color: white; }

.product_mouseenter {
  border-color: #eb5c3e #eb5c3e white #eb5c3e;
  -webkit-box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2); }

.product__img-container_theme_original {
  margin-top: 9px; }

.product__img_theme_original {
  display: block;
  margin: 0 auto;
  width: 135px; }

.product__name_theme_original {
  margin: 10px auto 0;
  height: 53px;
  width: 135px;
  font-size: 13px;
  line-height: 16px; }

.product__purchase-information_theme_original {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px auto 0;
  height: 30px;
  width: 135px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.product__price_theme_original {
  padding-top: 2px;
  font-size: 14px; }
  .product__price_theme_original .product__dollars-span_theme_original {
    font-size: 17px;
    font-weight: bold; }
  .product__price_theme_original .product__cents-span_theme_original {
    font-size: 12px;
    font-weight: bold; }

.product__button_theme_original {
  position: relative;
  background-color: #eb5c3e;
  width: 74px;
  height: 30px; }

.product__button-span_original {
  position: absolute;
  top: 6px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  font-size: 12px;
  color: #ffffff; }

.product__wrapper_theme_original {
  position: relative; }

.product__rating_theme_original {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 48px;
  width: 135px;
  margin: 0 auto; }

.product__line_theme_original {
  width: 100%;
  background-color: #f0f0f0;
  height: 1px; }

.product__black-stars-container_theme_original,
.product__orange-stars-container_theme_original {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  height: 12px;
  padding: 0 10px; }

.product__orange-stars-container_close {
  display: none; }

.product__star-img_theme_original {
  margin-right: 2px;
  width: 12px;
  height: 11px; }
  .product__star-img_theme_original:last-child {
    margin-right: 0; }

.product__additional-info_theme_original {
  position: absolute;
  top: 48px;
  left: -3px;
  right: 0;
  margin: auto;
  padding-bottom: 11px;
  width: 146px;
  background-color: white;
  border: 3px solid #eb5c3e;
  border-top: none;
  -webkit-box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
  z-index: 2; }

.product__additional-info_close {
  display: none; }

.product__text-description_theme_original {
  margin: 0 auto;
  width: 135px;
  font-size: 11px;
  line-height: 14px; }

@media (max-width: 455px) {
  .product_theme_original,
  .product__additional-info_theme_original {
    width: 206px; }
  .product__name_theme_original,
  .product__purchase-information_theme_original,
  .product__rating_theme_original {
    width: 155px; } }

@media (max-width: 423px) {
  .product_theme_original,
  .product__additional-info_theme_original {
    width: 176px; }
  .product__name_theme_original,
  .product__purchase-information_theme_original,
  .product__rating_theme_original {
    width: 145px; } }

@media (max-width: 363px) {
  .product_theme_original,
  .product__additional-info_theme_original {
    width: 146px; }
  .product__name_theme_original,
  .product__purchase-information_theme_original,
  .product__rating_theme_original {
    width: 135px; } }
