@import "variables";

* {
    padding: 0;
	margin: 0;
	border: 0;
	font-family: Arial, sans-serif;
}

.products_theme_original {
	display: flex;
	width: 475px;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: green;
}

.product_theme_original {
	width: 152px;
	border: 3px solid pink;
	background-color: pink; // white!
}

.product__img-container_theme_original {
	margin-top: 9px;
}

.product__img_theme_original {
	display: block;
	margin: 0 auto;
	width: $imgWidth;
}

.product__name_theme_original {
	margin: 10px auto 0;
	height: 53px;
	width: $imgWidth;
	font-size: 13px;
	line-height: 16px;
}

.product__purchase-information_theme_original {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px auto 0;
	height: 30px;
	width: $imgWidth;
}

.product__price_theme_original,
.product__button_theme_original {
	// display: inline-block;
}

.product__price_theme_original {
	padding-top: 3px;
	font-size: 14px;
	// font-weight: bold;
	background-color: goldenrod;

	.product__dollars-span_theme_original {
		font-size: 17px;
		font-weight: bold;
	}

	.product__cents-span_theme_original {
		font-size: 11px;
		// font-weight: bold;
	}
}

.product__button_theme_original {
	position: relative;
    background-color: $buttonBackgroundColor;
	width: 74px;
    height: 30px;
}

.product__button-span_original {
	position: absolute;
	top: 6px;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	font-size: 12px;
	color: #ffffff;
}

.product__rating_theme_original {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 48px;
	background-color: forestgreen;
	width: $imgWidth;
	margin: 0 auto;
}

.product__line_theme_original {
	width: 100%;
	background-color: $greyColor;
	height: 1px;
}

.product__black-stars-container_theme_original,
.product__orange-stars-container_theme_original {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	background-color: #fafafa;
	height: 12px;
	padding: 0 10px;
}

.product__black-stars-container_theme_original {

}

.product__orange-stars-container_theme_original {

}

.product__orange-stars-container_close {
	display: none;
}

.product__star-img_theme_original {
	margin-right: 2px;
	width: 12px;
	height: 11px;

	&:last-child {
		margin-right: 0;
	}
}

.product__additional-info_theme_original {
	margin: 0 auto 10px;
	width: $imgWidth;
}

.product__additional-info_close {
	display: none;
}
  
.product__text-description_theme_original {
	font-size: 11px;
	line-height: 14px;
}