@import "variables";

* {
    padding: 0;
	margin: 0;
	border: 0;
	font-family: Arial, sans-serif;
}

.products_theme_original {
	width: 475px;
	background-color: green;
}

.product_theme_original {
	width: 153px;
	border: 3px solid $goodsItemBorderColor;
	background-color: pink;
}

.product__img-container_theme_original {
	margin-top: 9px;
    margin-left: 7px;
}

.product__name_theme_original {
	margin-left: 8px;
	margin-top: 6px;
	height: 53px;
	font-size: 13px;
	line-height: 16px;
}

.product__purchase-information_theme_original {
	position: relative;
	margin-top: 5px;
	height: 30px;
}

.product__price_theme_original,
.product__button_theme_original {
	display: inline-block;
}

.product__price_theme_original {
	position: absolute;
	top: 2px;
	left: 8px;
	font-size: 14px;
	background-color: goldenrod;

	.product__dollars-span_theme_original {
		font-size: 17px;
	}

	.product__cents-span_theme_original {
		font-size: 12px;
		font-weight: bold;
	}
}

.product__button_theme_original {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 12px;
    background-color: $buttonBackgroundColor;
	width: 74px;
    height: 30px;
}

.product__button-span_original {
	position: absolute;
	top: 7px;
	left: 7px;
	font-size: 12px;
	color: #ffffff;
}

.product__rating_theme_original {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50px;
	background-color: forestgreen;
	margin-left: 7px;
	margin-right: 11px;
}

.product__line_theme_original {
	width: 100%;
	background-color: red;
	height: 1px;
}

.product__black-stars-container_theme_original,
.product__orange-stars-container_theme_original {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	background-color: #fafafa;
	width: 57px;
	height: 12px;
}

.product__black-stars-container_theme_original {
	display: none;
}

.product__star-img_theme_original {
	margin-right: 2px;
	width: 12px;
	height: 11px;

	&:last-child {
		margin-right: 0;
	}
}

.product__additional-info_theme_original {
	margin-left: 8px;
	margin-right: 8px;
	padding-bottom: 9px;
}
  
.product__text-description_theme_original {
	font-size: 11px;
	line-height: 14px;
}